* {
  box-sizing: border-box;
  margin: 5px 0;
  /* text-align: center; */
}

.App {
  /* text-align: center; */
  background-image: ;
}

.App-header {
  /* background-color: #222; */
  /* padding: 20px;
  color: white; */
} 
